:root{
    --clr-darkSlateGrey: hsl(234, 29%, 20%);
    --clr-charcoalGrey: hsl(235, 18%, 26%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey:hsl(231, 7%, 60%);
    --clr-tomato: hsl(4, 100%, 67%);


    /* sizes (from tailwind css) */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}


* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-white);
    color: var(--clr-light);
    font-size: 16px;
    line-height: 1.8;
    min-height: 100vh;
}

img,
video,
picture,
svg,
canvas {
        display: block;
        max-width: 100%;
        user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
    font-family: inherit;
}

a{
    
}

strong {

}